body {
    background-color: rgba(194, 194, 194, 0.616);
    margin: 0px;
}

#testo-1 {
    color: rgb(20, 88, 100);
    text-align: center;
    background-color: cornflowerblue;
    padding: 30px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    filter: drop-shadow(
        0 0 20px #00000080
    )
}

#time-1 {
    color: rgb(20, 88, 100);
    text-align: center;
    background-color: cornflowerblue;
    padding: 20px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#estelogo {
    background-color: rgb(192, 186, 186);
    padding: 20px;
    padding-bottom: 1500px;
    margin-top: -10px;
    margin-left: 40px;
    border-radius: 10px;
    float: left;
    filter: drop-shadow(
        0 0 20px #00000080
    )
}

#dungeonintro {
    text-align: left;
    margin-top: 40px;
    padding: 30px;
    background-color: rgb(185, 107, 107);
    margin-left: 230px;
    margin-right: 50px;
    font-size: 20px;
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    filter: drop-shadow(
        0 0 20px #00000080
    )
}

#dungeon {
    text-align: left;
    margin-left: 230px;
    margin-right: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    background-color: rgb(189, 147, 147);
    padding: 30px;
    border-radius: 10px;
    filter: drop-shadow(
        0 0 20px #00000080
    )
}

#bitintro {
    text-align: left;
    margin-top: 40px;
    padding: 30px;
    background-color: rgb(92, 94, 212);
    margin-left: 230px;
    margin-right: 50px;
    font-size: 20px;
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    filter: drop-shadow(
        0 0 20px #00000080
    )
}

#bit {
    text-align: left;
    margin-left: 230px;
    margin-right: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    background-color: rgb(166, 174, 221);
    padding: 30px;
    border-radius: 10px;
    filter: drop-shadow(
        0 0 20px #00000080
    )
}

#kiwiintro {
    text-align: left;
    margin-top: 40px;
    padding: 30px;
    background-color: rgb(92, 182, 74);
    margin-left: 230px;
    margin-right: 50px;
    font-size: 20px;
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    filter: drop-shadow(
        0 0 20px #00000080
    )
}

#kiwi {
    text-align: left;
    margin-left: 230px;
    margin-right: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    background-color: rgb(156, 204, 162);
    padding: 30px;
    border-radius: 10px;
    filter: drop-shadow(
        0 0 20px #00000080
    )
}

#storaxintro {
    text-align: left;
    margin-top: 40px;
    padding: 30px;
    background-color: rgb(87, 102, 119);
    margin-left: 230px;
    margin-right: 50px;
    font-size: 20px;
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    filter: drop-shadow(
        0 0 20px #00000080
    )
}

#storax {
    text-align: left;
    margin-left: 230px;
    margin-right: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    background-color: rgb(120, 131, 145);
    padding: 30px;
    border-radius: 10px;
    filter: drop-shadow(
        0 0 20px #00000080
    )
}

#coralintro {
    text-align: left;
    margin-top: 40px;
    padding: 30px;
    background-color: rgb(107, 158, 218);
    margin-left: 230px;
    margin-right: 50px;
    font-size: 20px;
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    filter: drop-shadow(
        0 0 20px #00000080
    )
}

#coral {
    text-align: left;
    margin-left: 230px;
    margin-right: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    background-color: rgb(172, 194, 223);
    padding: 30px;
    border-radius: 10px;
    filter: drop-shadow(
        0 0 20px #00000080
    )
}
